@import './mixins/mixins.scss';

@include b(container){
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    // 当有is-vertical的class后
    @include when(vertical) {
        flex-direction: column;
    }
}