// 混合 mixin .elrow BEM -> b (block)
$namespace: 'el';
@mixin b($block){
    $B: $namespace + '-' + $block;

    @at-root{
        .#{$B} {
            @content;
        }
    }
}

@mixin utils-clearfix {
    $selector: &;

    @at-root {

        #{$selector}::after,
        #{$selector}::before {
            display: block;
            content: ''
        }

        #{$selector}::after {
            clear: both;
        }
    }
}


@include b(row) {
    @include utils-clearfix;

    &--flex {
        display: flex;

        // 清除上面的浮动设置
        &::after,
        &::before {
            display: none;
        }

        &.is-justify-end {
            justify-content: flex-end;
        }

        &.is-justify-center {
            justify-content: center;
        }

        &.is-justify-space-between {
            justify-content: space-between;
        }

        &.is-justify-space-around {
            justify-content: space-around;
        }

        &.is-align-middle {
            align-items: center;
        }

        &.is-align-bottom {
            align-items: flex-end;
        }

    }
}